@model DataAccess.Doctore


@{
    ViewData["Title"] = "Nuevos Doctores";
}

<h1>Nuevos Doctores</h1>

<h4></h4>
<hr />

<form method="post">
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <label asp-for="IdEspecialidad" class="control-label">Especialidad</label>
            <select asp-for="IdEspecialidad" class="form-control" asp-items="ViewBag.IdEspecialidad"></select>
            <span asp-validation-for="IdEspecialidad" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Iddia" class="control-label">Dia de Labor</label>
                <select asp-for="Iddia" class="form-control" asp-items="ViewBag.Iddia"></select>
                <span asp-validation-for="Iddia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="IdCargo" class="control-label">Cargo</label>
                <select asp-for="IdCargo" class="form-control" asp-items="ViewBag.IdCargo"></select>
                <span asp-validation-for="IdCargo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">


            <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLiveLabel">Doctor Agregado</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>El Usuario y su contraseña para acceder al sistema se le envio a su correo</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="Guardar" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive">
                Guardar
            </button>

            <div class="col-4">

            </div>

        </div>

    </div>
 
</form>


<style>
    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
        height: 40px;
        margin-top: 30px;
        margin-left: 30px;
    }
</style>









<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
