
@{
    ViewData["Title"] = "Nueva Factura";
}

<h1>Nueva Factura</h1>

<form method="post">
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label>Cliente</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label> Fecha </label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-ml-12">
            <table>
                <thead>
                    <tr>
                        <th>Comentario</th>

                       
                    </tr>
                </thead>
            </table>
        </div>
    </div>




</form>

