<h1>Facturas</h1>

<div class="d-flex align-items-center">
    <div class="flex-grow-1">
    </div>
    <div>
        <a href="@Url.Action("CrearFactura")" class="btn btn-primary ">Nueva Factura</a>
    </div>
</div>
