@model DataAccess.Especialidade

@{
    ViewData["Title"] = "Borrar Especialidades";
}

<h1>Borrar Especialidades</h1>

<h3>¿Estas seguro que quieres eliminar este Paciente?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Nombre Especialidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEspecialidad" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
