@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h1>Sobre Nosotros</h1>

<div class="form-row">
    <div class="col-12">
        <div class="form-group">
            <h1>¿Quienes Somos?</h1>
            <p>
                MediPlus
            </p>
        </div>
        <div class="form-group">
            <h1>Visión</h1>
            <p>
                Ser líder en servicios médicos diagnósticos,
                terapéuticos y preventivos a nivel nacional e internacional y como Centro de referimiento,
                educación medica e investigación científica.
            </p>
        </div>
        <div class="form-group">
            <h1>Misión</h1>
            <p>
                Proporcionar servicios médicos altamente especializados,
                con profesionales calificados y avanzada tecnología,
                bajo principios éticos, responsabilidad social, calidad y sentido humano,
                contribuyendo a la formación de personal en salud y al desarrollo de la investigación científica.
            </p>
        </div>

    </div>
</div>
