@{
    ViewData["Title"] = "Politicas de privacidad";
}
<h1>Politicas de privacidad</h1>

<div class="form-row">
    <div class="col-12">
        <div class="form-group">
            <h1>Obligación de hacer un uso correcto del Portal Web.</h1>
            <p>
                El Usuario se compromete a utilizar el Portal y los Servicios de conformidad con la ley,
                el presente Aviso Legal contentivo de los Términos y Políticas de Uso del Servicio, las Condiciones Particulares de ciertos Servicios y demás avisos,
                reglamentos de uso e instrucciones puestos en su conocimiento, así como la moral y las buenas costumbres generalmente aceptadas y el orden público.
                El Usuario deberá abstenerse de obtener e incluso de intentar obtener los contenidos empleando para ello medios o procedimientos distintos de los que,
                según los casos, se hayan puesto a su disposición a este efecto o se hayan indicado a este efecto en las páginas web donde se encuentren los Contenidos o,
                en general, de los que se empleen habitualmente en la Internet a este efecto siempre que no entrañen un riesgo de daño o inutilización del Portal,
                de los Servicios y/o de los Contenidos.
            </p>
        </div>
</div>