<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MEDI PLUS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <table>
                            <tr class="container2">
                                <td></td>
                                <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"></a></li>
                        </td>
                        <td>
                        <li ><h6 class=" text-dark" >----------------------</h6></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Doctores" asp-action="Index">Doctores</a></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Citas" asp-action="Index">Citas</a></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">Sobre Nosotros</a></li></td>
                        <td>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a></li></td>

                      
                        </tr>
                        </table>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-dark">
        <div class="container1">
            &copy; 2021 - MEDIPLUS - 2018-0345 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a> - <a asp-area="" asp-controller="Home" asp-action="Administracion">Administración</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
